<div class="jumbotron">
    <h1>EXTRATO CLIENTES IBANK</h1>
    <table>
        <tr>
            <th>Id</th>
            <th>ContaCliente</th>
            <th>SaldoConta</th>
            <th>Descricao</th>
        </tr>

        @foreach (ClienteIbank.Models.ExtratoCliente extrato in ViewBag.ExtratoClientes)
         {
    <tr>
        <td>@extrato.Id</td>
        <td>@extrato.ContaCliente</td>
        <td>@extrato.SaldoConta</td>
        <td>@extrato.Descricao</td>
    </tr>
         }

     </table>
        
</div>

